.root {
    -fx-background-color: #ffffff;
}

.gameButton {
    -fx-background-color: #569fc4;
    -fx-border-color: black;
}

.gameButton:hover {
    -fx-text-fill: white;
}

.solutionLabel {
    /*-fx-background-color: white;*/
    /*-fx-border-color: black;*/
}

.cardStyle {
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.inputTextField {
    -fx-border-color: black;
    -fx-border-radius: 1.5;
}